.inputContainer {
    width: max-content;
    width: 95%;
    display: flex;
    transition: var(--transition);
    margin: 2.5% auto;
    background: white;
    border-top: 1px solid var(--color-gray);
}

.form {
    display: flex;
    width: 100%;
    box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 2px 2px rgba(0, 0, 0, 0), 0 4px 4px rgba(0, 0, 0, .01), 0 10px 8px rgba(0, 0, 0, .02), 0 15px 15px rgba(0, 0, 0, .02), 0 30px 30px rgba(0, 0, 0, .02), 0 70px 65px rgba(0, 0, 0, .03);
    transition: var(--transition);
    border-radius: 15px;
}

.form:hover {
    box-shadow: 0 0 0 1px rgba(53, 72, 91, .07), 0 2px 2px rgba(0, 0, 0, .01), 0 4px 4px rgba(0, 0, 0, .02), 0 10px 8px rgba(0, 0, 0, .03), 0 15px 15px rgba(0, 0, 0, .03), 0 30px 30px rgba(0, 0, 0, .04), 0 70px 65px rgba(0, 0, 0, .05);
}

.input {
    padding: 2.5%;
    width: 80%;
    font-size: 1em;
    background-color: var(--color-white);
    color: var(--color-gray);
    height: 60px !important;
    overflow-y: auto;
    border-radius: 15px 0 0 15px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--color-black);
    padding: 10px;
    display: inline-block;
    width: 20%;
    border-radius: 45px;
    font-size: 1em;
    border-radius: 0 15px 15px 0 !important;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}

.sendButton:hover {
    background-color: var(--color-darkergrey);
}