.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: var(--color-white);
    display: inline-block;
    max-width: 80%;
    padding: 24px 15px 10px 15px;
}

.messageBox.sentByUser {
    padding: 15px 15px 10px 15px;
}

.messageBox.sentByAdmin {
    padding: 5px;
}

.messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
}

.messageText img {
    vertical-align: middle;
}

.messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 2.5%;
    margin-top: 3px;
    position: relative;
}

.sentText {
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    position: absolute;
    top: 6px;
    color: var(--color-darkgrey);
    font-weight: 500;
    font-size: 13px;
    color: var(--color-green);
}

.pl-15 {
    padding-left: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.m-0 {
    margin: 0;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyCenter {
    justify-content: center;
}

.colorWhite {
    color: var(--color-white);
}

.colorDark {
    color: var(--color-darkgrey);
}

.backgroundBlue {
    background: var(--color-green);
}

.backgroundLight {
    background: var(--color-bg);
}

.noBackground {
    background: transparent;
}

.sentByUser {
    border-radius: 15px 15px 0 15px;
}

.notSentByUser {
    border-radius: 15px 15px 15px 0;
}