.infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-lightgrey);
    border-radius: 15px 15px 0 0;
    height: 75px;
    width: 100%;
    padding: 10px 0;
}

.leftInnerContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.leftInnerContainer-top {
    flex: 0.5;
    display: flex;
    align-items: center;
    color: var(--color-darkgrey);
    margin-left: 6%;
    margin-top: 5px;
}

.leftInnerContainer-bottom {
    display: flex;
    align-items: center;
    color: var(--color-grey);
    margin-left: 3.5%;
}

.rightInnerContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    padding: 2%;
    border-radius: 15px;
    transition: var(--transition);
    cursor: pointer;
}

.rightInnerContainer:hover {
    background-color: #e4e8eb;
}

.rightInnerContainer svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.onlineIcon {
    margin-right: 5%;
}