.loading-div {
  display: flex;
  height: 100vh;
  width: 100vw;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-darkgrey);
}

.loader {
  --color: var(--color-accent);
  --size-mid: 6vmin;
  --size-dot: 1.5vmin;
  --size-bar: 0.4vmin;
  --size-square: 3vmin;

  display: block;
  position: relative;
  width: 50%;
  display: grid;
  place-items: center;
}

.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
}

/**
  loader --4
**/
.loader.--4::before {
  height: var(--size-bar);
  width: 10vmin;
  background-color: var(--color);
  animation: loader-4 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
}

@keyframes loader-4 {
  0%,
  44%,
  88.1%,
  100% {
    transform-origin: left;
  }

  0%,
  100%,
  88% {
    transform: scaleX(0);
  }

  44.1%,
  88% {
    transform-origin: right;
  }

  33%,
  44% {
    transform: scaleX(1);
  }
}

.item {
  background: transparent;
  display: grid;
  place-items: center;
  border-radius: 5px;
  transition: opacity 0.4s ease;
}
